## Pattern Problems 1-50
***

## pattern 1

In [1]:
# Pattern 1 using For Loop
def pattern1for(char = '*', n = 5):
    for i in range(1, n + 1):
        print(char*n)

In [2]:
pattern1for()

*****
*****
*****
*****
*****

In [3]:
pattern1for(char = '#',n = 9)

#########
#########
#########
#########
#########
#########
#########
#########
#########

In [4]:
# Pattern 1 using while loop
def pattern1while(char = '*', n = 5):
    i = 0
    while i < n:
        print(char*n)
        i += 1
        
pattern1while()

*****
*****
*****
*****
*****

In [5]:
pattern1while(char = '+', n = 10)

++++++++++
++++++++++
++++++++++
++++++++++
++++++++++
++++++++++
++++++++++
++++++++++
++++++++++
++++++++++

## pattern 2

In [6]:
# pattern 2 using for loop
# 11111
# 22222
# 33333
# 44444
# 55555

for i in range(1, 6):
    print(str(i) * 5)

11111
22222
33333
44444
55555

In [7]:
# pattern 2 using for loop
def pattern2for(n=5):
    for i in range(1, n+1):
        print(str(i)* n)
        
pattern2for()

11111
22222
33333
44444
55555

In [8]:
# pattern 2 using while loop

def pattern2while(n=5):
    i = 1
    while i <= n:
        print(str(i) * n)
        i += 1

pattern2while(6)

111111
222222
333333
444444
555555
666666

## pattern 3

In [9]:
# pattern 3 using for loop 
# 12345
# 12345
# 12345
# 12345
# 12345
for i in range(1, 6):
    for j in range(1, 6):
        print(j, end = ' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [10]:
def pattern3for(n=5):
    for i in range(1, n+1):
        for j in range(1, n+1):
            print(j, end = ' ')
        print()

In [11]:
pattern3for(5)

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [12]:
# pattern 3 using while loop
def pattern3while(n = 5):
    i = 1
    while i <= n:
        j = 1
        while j <= n:
            print(j, end = ' ')
            j += 1
        i += 1
        print()
        
pattern3while()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

## pattern 4

![](https://web.alfredstate.edu/faculty/weimandn/miscellaneous/ascii/ASCII%20Conversion%20Chart.gif)

In [13]:
# pattern 4 using for loop
# AAAAA
# BBBBB
# CCCCC
# DDDDD
# EEEEE

# ord('A') = 65
# chr(65) = 'A'

for i in range(65, 70):
    print(chr(i)*5)
print()

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

In [14]:
# pattern 4 using for loop
def pattern4for(start = 'A', end = 'E'):         # start always less than end i.e: A(65) < E(70)
    for i in range(ord(start), ord(end)+1):  
        print((chr(i)+' ')*((ord(end)+1)-ord(start)))

In [15]:
pattern4for()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [16]:
pattern4for(start='H', end='X')

H H H H H H H H H H H H H H H H H
I I I I I I I I I I I I I I I I I
J J J J J J J J J J J J J J J J J
K K K K K K K K K K K K K K K K K
L L L L L L L L L L L L L L L L L
M M M M M M M M M M M M M M M M M
N N N N N N N N N N N N N N N N N
O O O O O O O O O O O O O O O O O
P P P P P P P P P P P P P P P P P
Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q Q
R R R R R R R R R R R R R R R R R
S S S S S S S S S S S S S S S S S
T T T T T T T T T T T T T T T T T
U U U U U U U U U U U U U U U U U
V V V V V V V V V V V V V V V V V
W W W W W W W W W W W W W W W W W
X X X X X X X X X X X X X X X X X

In [17]:
# pattern 4 using while loop
def pattern4while(start = 'A', end = 'E'): # start always less than end i.e: A(65) < E(70)
    i = ord(start)
    while i <= ord(end):
        print(chr(i)*((ord(end)+1)-ord(start)))
        i += 1

In [18]:
pattern4while()

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

In [19]:
pattern4while(start = 'P', end = 'X')

PPPPPPPPP
QQQQQQQQQ
RRRRRRRRR
SSSSSSSSS
TTTTTTTTT
UUUUUUUUU
VVVVVVVVV
WWWWWWWWW
XXXXXXXXX

## pattern 5

In [20]:
# A B C D E
# A B C D E
# A B C D E
# A B C D E
# A B C D E

for i in range(ord('A'), ord('E')+1):
    for j in range(ord('A'), ord('E')+1):
        print(chr(j), end = ' ')
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [5]:
# pattern 5 using for loop
def pattern5for(start = 'A', end = 'E'):       # start always less than end i.e: A(65) < E(70)
    for i in range(ord(start), ord(end)+1):
        for j in range(ord(start), ord(end)+1):
            print(chr(j), end = ' ')
        print()

In [6]:
pattern5for()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [22]:
pattern5for(start ='P', end = 'X')

P Q R S T U V W X
P Q R S T U V W X
P Q R S T U V W X
P Q R S T U V W X
P Q R S T U V W X
P Q R S T U V W X
P Q R S T U V W X
P Q R S T U V W X
P Q R S T U V W X

In [23]:
# pattern 5 using while loop
def pattern5while(start = 'A', end = 'E'):  # start always less than end i.e: A(65) < E(70)
    i = ord(start)
    while i <= ord(end):
        j = ord(start)
        while j <= ord(end):
            print(chr(j), end=' ')
            j += 1
        i += 1
        print()

In [24]:
pattern5while()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [25]:
pattern5while(start = 'K', end = 'V')

K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V
K L M N O P Q R S T U V

## pattern 6

In [26]:
# 55555
# 44444
# 33333
# 22222
# 11111

for i in range(5, 0, -1):
    print(str(i) * 5)

55555
44444
33333
22222
11111

In [27]:
# pattern 6 using for loop

def pattern6for(n = 5):
    for i in range(n, 0, -1):
        print(str(i)* n)

In [28]:
pattern6for()

55555
44444
33333
22222
11111

In [29]:
pattern6for(n = 6)

666666
555555
444444
333333
222222
111111

In [30]:
# pattern 6 using while loop
def pattern6while(n = 5):
    i = n
    while i >= 1:
        print(str(i)*n)
        i -= 1

In [31]:
pattern6while(5)

55555
44444
33333
22222
11111

In [32]:
pattern6while(7)

7777777
6666666
5555555
4444444
3333333
2222222
1111111

## pattern 7

In [33]:
# 5 4 3 2 1
# 5 4 3 2 1
# 5 4 3 2 1
# 5 4 3 2 1
# 5 4 3 2 1

for i in range(5, 0, -1):
    for j in range(5, 0, -1):
        print(j, end= ' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [34]:
# pattern 7 using for loop

def pattern7for(n = 5):
    for i in range(n, 0, -1):
        for j in range(n, 0, -1):
            print(j, end= ' ')
        print()

In [35]:
pattern7for()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [36]:
pattern7for(8)

8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1

In [37]:
# pattern 7 using while loop

def pattern7while(n=5):
    i = n
    while i >= 1:
        j = n
        while j >= 1:
            print(j, end=' ')
            j -= 1
        i -= 1
        print()

In [38]:
pattern7while()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [39]:
pattern7while(n = 8)

8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1

## pattern 8

In [40]:
# EEEEE
# DDDDD
# CCCCC
# BBBBB
# AAAAA

# ord('A') = 65
# chr(65) = 'A'

for i in range(69, 64, -1):
    print(chr(i)*5)
print()

EEEEE
DDDDD
CCCCC
BBBBB
AAAAA

In [41]:
# pattern 8 using for loop
def pattern8for(start = 'E', end = 'A'): 
    
    for i in range(ord(start), ord(end)-1, -1):
        print((chr(i)+' ') * ((ord(start)-ord(end))+1))

In [42]:
pattern8for()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [43]:
pattern8for(start = 'Z', end = 'T')

Z Z Z Z Z Z Z
Y Y Y Y Y Y Y
X X X X X X X
W W W W W W W
V V V V V V V
U U U U U U U
T T T T T T T

In [44]:
# pattern 8 using while loop
def pattern8while(start = 'E', end = 'A'):
    i = ord(start)
    while i >= ord(end):
        print((chr(i)+' ') * ((ord(start)-ord(end))+1))
        i -= 1
        
pattern8while()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [45]:
pattern8while(start = 'X', end = 'P')

X X X X X X X X X
W W W W W W W W W
V V V V V V V V V
U U U U U U U U U
T T T T T T T T T
S S S S S S S S S
R R R R R R R R R
Q Q Q Q Q Q Q Q Q
P P P P P P P P P

## pattern 9

In [46]:
# EDCBA
# EDCBA
# EDCBA
# EDCBA
# EDCBA

for i in range(ord('E'), ord('A')-1, -1):
    for j in range(ord('E'), ord('A')-1, -1):
        print(chr(j), end = ' ')
    print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [47]:
# pattern 9 using for loop

def pattern9for(start = 'E', end = 'A'):
    for i in range(ord(start), ord(end)-1, -1):
        for j in range(ord(start), ord(end)-1, -1):
            print(chr(j), end = ' ')
        print()

In [48]:
pattern9for()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [49]:
pattern9for(start='P', end='K')

P O N M L K
P O N M L K
P O N M L K
P O N M L K
P O N M L K
P O N M L K

In [50]:
# pattern 9 using while loop

def pattern9while(start = 'E', end = 'A'):
    i = ord(start)
    while i >= ord(end):
        j = ord(start)
        while j >= ord(end):
            print(chr(j), end=' ')
            j -= 1
        i -= 1
        print()

In [51]:
pattern9while()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [52]:
pattern9while('X', 'P')

X W V U T S R Q P
X W V U T S R Q P
X W V U T S R Q P
X W V U T S R Q P
X W V U T S R Q P
X W V U T S R Q P
X W V U T S R Q P
X W V U T S R Q P
X W V U T S R Q P

 ## pattern 10

In [53]:
# *
# * *
# * * *
# * * * *
# * * * * *

In [54]:
# pattern 10 using for loop
def pattern10for(char = '*', n = 5):
    for i in range(1, n+1):
        for j in range(i):
            print(char, end=' ')
        print()

In [55]:
pattern10for()

*
* *
* * *
* * * *
* * * * *

In [56]:
pattern10for(char = '+', n = 10)

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +
+ + + + + + + +
+ + + + + + + + +
+ + + + + + + + + +

In [57]:
# pattern 10 using while loop
def pattern10while(char = '*', n = 5):
    i = 1
    while i <= n:
        print((char+' ')*i)
        i += 1

In [58]:
pattern10while()

*
* *
* * *
* * * *
* * * * *

In [59]:
pattern10while(char = '+', n = 8)

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +
+ + + + + + + +

## pattern 11

In [60]:
# 1
# 22
# 333
# 4444
# 55555

In [61]:
# pattern 11 using for loop
def pattern11for(n = 5):
    for i in range(1, n+1):
        print((str(i)+' ')*i)

In [62]:
pattern11for()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [63]:
pattern11for(n = 8)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [64]:
# pattern 11 using while loop
def pattern11while(n = 5):
    i = 1
    while i<=n:
        print((str(i)+' ')*i)
        i += 1

In [65]:
pattern11while()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [66]:
pattern11while(n = 3)

1
2 2
3 3 3

## pattern 12

In [67]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

In [68]:
# pattern 12 using for loop

def pattern12for(n = 5):
    for i in range(1, n+1):
        for j in range(1, i+1):
            print(str(j), end= ' ')
        print()

In [69]:
pattern12for()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [70]:
pattern12for(n = 8)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [71]:
# pattern 12 using while loop

def pattern12while(n = 5):
    i = 1
    while i <= n:
        j = 1
        while j <= i:
            print(str(j), end= ' ')
            j += 1
        i += 1
        print()

In [72]:
pattern12while()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [73]:
pattern12while(n = 7)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

## pattern 13

In [74]:
# A
# BB
# CCC
# DDDD
# EEEEE

In [75]:
# pattern 13 using for loop

def pattern13for(start = 'A', end = 'E'):
    n = 1
    for i in range(ord(start), ord(end)+1):
        print((chr(i)+' ')*n)
        n += 1

In [76]:
pattern13for()

A
B B
C C C
D D D D
E E E E E

In [77]:
pattern13for(start = 'K', end = 'P')

K
L L
M M M
N N N N
O O O O O
P P P P P P

In [78]:
# pattern 13 using while loop

def pattern13while(start = 'A', end = 'E'):
    i = ord(start)
    n = 1
    while i <= ord(end):
        print((chr(i)+' ')*n)
        i += 1
        n += 1

In [79]:
pattern13while()

A
B B
C C C
D D D D
E E E E E

In [80]:
pattern13while(start = 'I', end = 'O')

I
J J
K K K
L L L L
M M M M M
N N N N N N
O O O O O O O

## pattern 14

In [81]:
# A
# A B
# A B C
# A B C D
# A B C D E

In [82]:
# pattern 14 using for loop

def pattern14for(start = 'A', end = 'E'):
    for i in range(ord(start), ord(end)+1):
        for j in range(ord(start), i + 1):
            print(chr(j), end = ' ')
        print()

In [83]:
pattern14for()

A
A B
A B C
A B C D
A B C D E

In [84]:
# pattern 14 using while loop

def pattern14while(start = 'A', end = 'E'):
    i = ord(start)
    while i <= ord(end):
        j = ord(start)
        while j <= (i):
            print(chr(j), end=' ')
            j += 1
        i += 1
        print()

In [85]:
pattern14while()

A
A B
A B C
A B C D
A B C D E

## pattern 15

In [86]:
# * * * * *
# * * * *
# * * *
# * *
# *

In [87]:
# pattern 15 using for loop

def pattern15for(char = '*', n = 5):
    for i in range(n, 0, -1):
        print((char+' ')*i)

In [88]:
pattern15for()

* * * * *
* * * *
* * *
* *
*

In [89]:
pattern15for(char = '+', n = 8)

+ + + + + + + +
+ + + + + + +
+ + + + + +
+ + + + +
+ + + +
+ + +
+ +
+

In [90]:
# pattern 15 using while loop

def pattern15while(char = '*', n = 5):
    i = n
    while i >= 1:
        print(((char+' ')*i))
        i -= 1

In [91]:
pattern15while()

* * * * *
* * * *
* * *
* *
*

In [92]:
pattern15while(char = '#', n = 6)

# # # # # #
# # # # #
# # # #
# # #
# #
#

## pattern 16

In [93]:
# 1 1 1 1 1
# 2 2 2 2
# 3 3 3 
# 4 4
# 5

In [94]:
# pattern 16 using for loop

def pattern16for(n = 5):
    j = n
    for i in range(1, n+1):
        print((str(i)+' ')*j)
        j -= 1

In [95]:
pattern16for()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [96]:
pattern16for(n = 8)

1 1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4
5 5 5 5
6 6 6
7 7
8

In [1]:
# pattern 16 using while

m = n
while i in range(1, n+1):
    print((str(i)+' ')*m)
    i+=1
    m-=1

NameError: name 'n' is not defined

In [88]:
# pattern 16 using while loop
def pattern16while(n = 5):
    i = 1
    m = n
    while i <= n:
        print((str(i)+' ')*m)
        i += 1
        m -= 1

In [89]:
pattern16while()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
pattern16while(n = 9)

## pattern 17

In [ ]:
# 1 2 3 4 5 
# 1 2 3 4
# 1 2 3
# 1 2
# 1

In [ ]:
# pattern 17 using for loop

def pattern17for(n = 5):
    for i in range(n, 0, -1):
        for j in range(1, i+1):
            print(j, end=' ')
        print()

In [ ]:
pattern17for()

In [ ]:
pattern17for(8)

In [ ]:
# pattern 17 using while loop

def pattern17while(n = 5):
    i = n
    while i >= 1:
        j = 1
        while j <= i:
            print(j,end= ' ' )
            j += 1
        i -= 1
        print()

In [ ]:
pattern17while()

In [ ]:
pattern17while(9)

## pattern 18

In [ ]:
# A A A A A
# B B B B 
# C C C 
# D D 
# E

In [ ]:
# pattern 18 using for loop

def pattern18for(start = 'A', end = 'E'):
    j = (ord(end)-ord(start))+1
    for i in range(ord(start), ord(end)+1):
        print((chr(i)+ ' ')*j)
        j -= 1
    print()

In [ ]:
pattern18for()

In [ ]:
pattern18for(start='O', end='X')

In [ ]:
# pattern 18 using while loop

def pattern18while(start = 'A', end = 'E'):
    i = ord(start)
    j = (ord(end)-ord(start))+1
    while i <= ord(end):
        print((chr(i)+ ' ')*j)
        i += 1
        j -= 1
    print()

In [ ]:
pattern18while()

In [ ]:
pattern18while(start = 'G', end = 'M')

## pattern 19

In [ ]:
# A B C D E
# A B C D
# A B C
# A B
# A

In [ ]:
# pattern 19 using for loop

def pattern19for(start = 'A', end = 'E'):
    for i in range(ord(end), ord(start)-1, -1):
        for j in range(ord(start), i+1):
            print(chr(j), end=' ')
        print()

In [ ]:
pattern19for()

In [ ]:
pattern19for(start = 'H', end = 'O')

In [ ]:
# pattern 19 using while loop

def pattern19while(start = 'A', end = 'E'):
    i = ord(end)
    while i >= ord(start):
        j = ord(start)
        while j <= i:
            print(chr(j), end = ' ')
            j += 1
        i -= 1
        print()

In [ ]:
pattern19while()

In [ ]:
pattern19while(start='M', end='X')

## pattern 20

In [ ]:
# 5 5 5 5 5
# 4 4 4 4 
# 3 3 3 
# 2 2 
# 1

In [ ]:
# pattern 20 using for loop

def pattern20for(n = 5):
    for i in range(n, 0, -1):
            print((str(i)+' ')*i)

In [ ]:
pattern20for()

In [ ]:
pattern20for(n = 9)

In [ ]:
# pattern 20 using while loop

def pattern20while(n = 5):
    i = n
    while i >= 1:
        print((str(i)+' ')*i)
        i -= 1

In [ ]:
pattern20while()

In [ ]:
pattern20while(n = 7)

## pattern 21

In [ ]:
# 5 4 3 2 1
# 5 4 3 2
# 5 4 3
# 5 4 
# 5

In [ ]:
# pattern 21 using for loop

def pattern21for(n = 5):
    k=0
    for i in range(n, 0, -1):
        for j in range(n, k, -1):
            print(j, end=' ')   
        k += 1
        print()

In [ ]:
pattern21for()

In [ ]:
pattern21for(8)

In [ ]:
# pattern 21 using while loop
def pattern21while(n=5):
    i = n
    k = 1
    while i >= 1:
        j = n
        while j >= k:
            print(j, end=' ')
            j -= 1
        k += 1
        i -= 1
        print()

In [ ]:
pattern21while()

In [ ]:
pattern21while(n=8)

## pattern 22

In [ ]:
# E E E E E
# D D D D
# C C C
# B B 
# A

In [103]:
# pattern 22 using for loop
def pattern22for(start='E', end= 'A'):
    j = (ord(start)-ord(end))+1
    for i in range(ord(start), ord(end)-1, -1):
        print((chr(i)+' ')*j)
        j -= 1

In [104]:
pattern22for()

E E E E E
D D D D
C C C
B B
A

In [105]:
pattern22for(start='Z', end = 'K')

Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z
Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y
X X X X X X X X X X X X X X
W W W W W W W W W W W W W
V V V V V V V V V V V V
U U U U U U U U U U U
T T T T T T T T T T
S S S S S S S S S
R R R R R R R R
Q Q Q Q Q Q Q
P P P P P P
O O O O O
N N N N
M M M
L L
K

In [106]:
# pattern 22 using while loop

def pattern22while(start='E', end='A'):
    i = ord(start)
    j = (ord(start)-ord(end))+1
    while i >= ord(end):
        print((chr(i)+' ')*j)
        i -= 1
        j -= 1

In [107]:
pattern22while()

E E E E E
D D D D
C C C
B B
A

## pattern 23

In [108]:
# E D C B A
# E D C B 
# E D C 
# E D 
# E

In [119]:
# pattern 23 using for loop

def pattern23for(start = 'E', end = 'A'):
    k = ord(end)
    for i in range(ord(start), ord(end)-1, -1):
        for j in range(ord(start), k-1, -1):
            print(chr(j), end=' ')
        k += 1
        print()

In [120]:
pattern23for()

E D C B A
E D C B
E D C
E D
E

In [121]:
pattern23for(start='X', end='K')

X W V U T S R Q P O N M L K
X W V U T S R Q P O N M L
X W V U T S R Q P O N M
X W V U T S R Q P O N
X W V U T S R Q P O
X W V U T S R Q P
X W V U T S R Q
X W V U T S R
X W V U T S
X W V U T
X W V U
X W V
X W
X

In [139]:
# pattern 23 using while loop

def pattern23while(start='E', end='A'):
    i = ord(start)
    k = ord(end)
    while i>=ord(end):
        j = ord(start)
        while j>=k:
            print(chr(j), end=' ')
            j -= 1
        i -= 1
        k += 1
        print()

In [140]:
pattern23while()

E D C B A
E D C B
E D C
E D
E

In [141]:
pattern23while(start='H', end='A')

H G F E D C B A
H G F E D C B
H G F E D C
H G F E D
H G F E
H G F
H G
H

## pattern 24

In [1]:
#     *
#    **
#   ***
#  ****
# *****

In [52]:
# pattern 24 using for loop
def pattern24for(n = 5, char='*'):
    for i in range(1, n+1):
            print(' ' * (n-i)+ char*i)

In [53]:
pattern24for()

    *
   **
  ***
 ****
*****

In [54]:
pattern24for(n=10, char='+')

         +
        ++
       +++
      ++++
     +++++
    ++++++
   +++++++
  ++++++++
 +++++++++
++++++++++

In [21]:
# pattern 24 using while loop
def pattern24while(n=5, char='*'):
    i = 1
    while i <= n:
        print(' ' * (n-i) + char*i)
        i += 1

In [22]:
pattern24while()

    *
   **
  ***
 ****
*****

In [30]:
pattern24while(n = 10, char='#')

         #
        ##
       ###
      ####
     #####
    ######
   #######
  ########
 #########
##########

## pattern 25

In [ ]:
#     1
#    22
#   333
#  4444
# 55555

In [29]:
# pattern 25 using for loop

def pattern25for(n = 5):
    for i in range(1, n+1):
        print(' ' * (n-i), str(i)*i)

In [30]:
pattern25for()

     1
    22
   333
  4444
 55555

In [32]:
pattern25for(n=9)

         1
        22
       333
      4444
     55555
    666666
   7777777
  88888888
 999999999

In [37]:
# pattern 25 using while loop

def pattern25while(n=5):
    i = 1
    while i <= n:
        print(' ' * (n-i), str(i)*i)
        i += 1

In [38]:
pattern25while()

     1
    22
   333
  4444
 55555

In [39]:
pattern25while(n = 9)

         1
        22
       333
      4444
     55555
    666666
   7777777
  88888888
 999999999

## pattern 26

In [40]:
#     1
#    12
#   123
#  1234
# 12345

In [104]:
# pattern 26 using for loop

def pattern26for(n=5):
    # new line
    print("")
    # display the pattern
    for i in range(1, n + 1):
        # print space
        for j in range(1, 2 * (n - i) + 1):
            print(" ", end = "")
        # print numbers
        for j in range(1, i + 1):
            print(j, end = " ")
        
        # new line
        print("")

In [105]:
pattern26for()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [106]:
pattern26for(n=9)

                1
              1 2
            1 2 3
          1 2 3 4
        1 2 3 4 5
      1 2 3 4 5 6
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [14]:
# pattern 26 using while loop 

def pattern26while(n=5):
    # print rows
    i = 1
    while i <= n:
        j = 1
        while j <= (2 * (n-i)):
            print(' ', end='')
            j += 1
        k = 1
        while k <= i:
            print(k, end =' ')
            k += 1
    
        i += 1

        print()

In [15]:
pattern26while()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [16]:
pattern26while(n=10)

                  1
                1 2
              1 2 3
            1 2 3 4
          1 2 3 4 5
        1 2 3 4 5 6
      1 2 3 4 5 6 7
    1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

## pattern 27

In [17]:
#     A
#    BB
#   CCC
#  DDDD
# EEEEE

In [7]:
# pattern 27 using for loop

def pattern27for(start='A', end='E'):
    n = ord(end)
    k = 1
    for i in range(ord(start), ord(end)+1):
            print(' ' * (n - i) + (chr(i)*k))
            k += 1

In [8]:
pattern27for()

    A
   BB
  CCC
 DDDD
EEEEE

In [9]:
pattern27for(start = 'H', end = 'P')

        H
       II
      JJJ
     KKKK
    LLLLL
   MMMMMM
  NNNNNNN
 OOOOOOOO
PPPPPPPPP

In [11]:
# pattern 27 using while loop

def pattern27while(start='A', end='E'):
    n = ord(end)
    i = ord(start)
    k = 1
    while i <= n:
        print(' ' * (n-i) + (chr(i)*k))
        i += 1
        k += 1

In [12]:
pattern27while()

    A
   BB
  CCC
 DDDD
EEEEE

In [14]:
pattern27while(start='H', end='P')

        H
       II
      JJJ
     KKKK
    LLLLL
   MMMMMM
  NNNNNNN
 OOOOOOOO
PPPPPPPPP

## pattern 28

In [15]:
#         A
#        AB
#       ABC
#      ABCD
#     ABCDE

In [54]:
# pattern 28 using for loop

def pattern28for(start='A', end='E'):
    n = ord(end)
    k = 1
    for i in range(ord(start), ord(end)+1):
        print(' '*(n - i), end='')
        for j in range(ord(start), ord(start)+k):
             print(chr(j), end='')
        k += 1
        print()

In [55]:
pattern28for()

    A
   AB
  ABC
 ABCD
ABCDE

In [56]:
pattern28for(start='H', end='O')

       H
      HI
     HIJ
    HIJK
   HIJKL
  HIJKLM
 HIJKLMN
HIJKLMNO

In [9]:
# pattern 28 using while loop 

def pattern28while(start='A', end='E'):
    n = ord(end)
    i = ord(start)
    k = 1
    while i <= n:
        print(' '*(n - i), end='')
        j = ord(start)
        while j <= i:
            print(chr(j), end='')
            j += 1
        i += 1
        k += 1
        
        print()

In [10]:
pattern28while()

    A
   AB
  ABC
 ABCD
ABCDE

In [11]:
pattern28while(start='H', end='O')

       H
      HI
     HIJ
    HIJK
   HIJKL
  HIJKLM
 HIJKLMN
HIJKLMNO

## pattern 29

In [12]:
# *****
#  ****
#   ***
#    **
#     *

In [31]:
# pattern 29 using for loop
def pattern29for(n=5, char='*'):
    s = 0
    for i in range(n, 0, -1):
        print(' '*s + char*i)
        s+=1

In [32]:
pattern29for()

*****
 ****
  ***
   **
    *

In [33]:
pattern29for(n = 10, char='$')

$$$$$$$$$$
 $$$$$$$$$
  $$$$$$$$
   $$$$$$$
    $$$$$$
     $$$$$
      $$$$
       $$$
        $$
         $

In [36]:
# pattern 29 using while loop

def pattern29while(n=5, char='*'):
    i = n
    s = 0
    while i >= 1:
        print(' '*s + char*i)
        i -= 1
        s += 1

In [37]:
pattern29while()

*****
 ****
  ***
   **
    *

In [45]:
pattern29while(char='!', n=12)

!!!!!!!!!!!!
 !!!!!!!!!!!
  !!!!!!!!!!
   !!!!!!!!!
    !!!!!!!!
     !!!!!!!
      !!!!!!
       !!!!!
        !!!!
         !!!
          !!
           !

## pattern 30

In [ ]:
# 55555
#  4444
#   333
#    22
#     1

In [48]:
# pattern 30 using for loop
def pattern30for(n=5):
    s = 0
    for i in range(n, 0, -1):
        print(' '*s + str(i)*i)
        s += 1

In [49]:
pattern30for()

55555
 4444
  333
   22
    1

In [53]:
# pattern 30 using while

def pattern30while(n=5):
    i = n
    s = 0
    while i >= 1:
        print(' '*s + str(i)*i)
        i -= 1
        s += 1

In [54]:
pattern30while()

55555
 4444
  333
   22
    1

In [56]:
pattern30while(n = 9)

999999999
 88888888
  7777777
   666666
    55555
     4444
      333
       22
        1

## pattern 31

In [57]:
# 12345
#  1234
#   123
#    12
#     1

In [64]:
# pattern 31 using for loop
def pattern31for(n=5):
    s = 0
    for i in range(n, 0, -1):
        print(' '*s, end='')
        for j in range(1, i+1):
            print(j, end='')
        s += 1
        print()

In [65]:
pattern31for()

12345
 1234
  123
   12
    1

In [72]:
# pattern 31 using while loop
def pattern31while(n=5):
    s = 0
    i = n
    while i >= 1:
        print(' '*s, end='')
        j = 1
        while j <= i:
            print(j, end='')
            j += 1
        i -= 1
        s += 1
        print()

In [73]:
pattern31while()

12345
 1234
  123
   12
    1

## pattern 32

In [ ]:
# EEEEE
#  DDDD
#   CCC
#    BB
#     A

In [78]:
# pattern 32 using for loop
def pattern32for(start='E', end='A'):
    s = 0
    c = (ord(start)-ord(end))+1
    for i in range(ord(start), ord(end)-1, -1):
        print(' '*s + (chr(i)*c))
        c -= 1
        s += 1

In [79]:
pattern32for()

EEEEE
 DDDD
  CCC
   BB
    A

In [80]:
pattern32for(start='X', end='P')

XXXXXXXXX
 WWWWWWWW
  VVVVVVV
   UUUUUU
    TTTTT
     SSSS
      RRR
       QQ
        P

In [2]:
# pattern 32 using while loop
def pattern32while(start='E', end='A'):
    i = ord(start)
    s = 0
    c = (ord(start)-ord(end))+1
    while i >= ord(end) :
        print(' '*s + (chr(i)*c))
        i -= 1
        s += 1
        c -= 1

In [3]:
pattern32while()

EEEEE
 DDDD
  CCC
   BB
    A

In [4]:
pattern32while(start='X', end='L')

XXXXXXXXXXXXX
 WWWWWWWWWWWW
  VVVVVVVVVVV
   UUUUUUUUUU
    TTTTTTTTT
     SSSSSSSS
      RRRRRRR
       QQQQQQ
        PPPPP
         OOOO
          NNN
           MM
            L

## pattern 33

In [5]:
# ABCDE
#  ABCD
#   ABC
#    AB
#     A

In [8]:
# pattern 33 using for loop

def pattern33for(start='A', end='E'):
    s=0
    for i in range(ord(end), ord(start)-1, -1):
        print(' '*s, end='')
        for j in range(ord(start), i+1):
            print(chr(j), end='')
        s += 1
        print()

In [9]:
pattern33for()

ABCDE
 ABCD
  ABC
   AB
    A

In [10]:
pattern33for(start='H', end='O')

HIJKLMNO
 HIJKLMN
  HIJKLM
   HIJKL
    HIJK
     HIJ
      HI
       H

In [19]:
# pattern 33 usign while loop

def pattern33while(start='A', end='E'):
    i = ord(end)
    s = 0
    while i >= ord(start):
        print(' '*s, end='')
        j = ord(start)
        while j <= i:
            print(chr(j), end='')
            j += 1
        s += 1
        i -= 1
        print()

In [20]:
pattern33while()

ABCDE
 ABCD
  ABC
   AB
    A

In [21]:
pattern33while(start='K', end='T')

KLMNOPQRST
 KLMNOPQRS
  KLMNOPQR
   KLMNOPQ
    KLMNOP
     KLMNO
      KLMN
       KLM
        KL
         K

## pattern 34

In [ ]:
#     *
#    ***
#   *****
#  *******
# *********

In [31]:
# pattern 34 using for loop
def pattern34for(n=5, char='*'):
    s = n-1
    c = 1
    for i in range(1, n+1):
        print(' '*s, end='')
        for j in range(1, c+1):
            print(char, end='')
        s -= 1
        c += 2
        print()

In [32]:
pattern34for()

    *
   ***
  *****
 *******
*********

In [39]:
pattern34for(12, '!')

           !
          !!!
         !!!!!
        !!!!!!!
       !!!!!!!!!
      !!!!!!!!!!!
     !!!!!!!!!!!!!
    !!!!!!!!!!!!!!!
   !!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!
 !!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!

In [44]:
# pattern 34 using while loop 
def pattern34while(n = 5, char='*'):
    s = n-1
    i = 1
    c = 1
    while i <= n:
        print(' '*s, end='')
        j = 1 
        while j <= c:
            print(char, end='')
            j += 1
        s -= 1
        c += 2
        i += 1
        print()

In [45]:
pattern34while()

    *
   ***
  *****
 *******
*********

In [48]:
pattern34while(n=9, char='#')

        #
       ###
      #####
     #######
    #########
   ###########
  #############
 ###############
#################

## pattern 35

In [ ]:
#     1
#    222
#   33333
#  4444444
# 555555555

In [77]:
# pattern 35 using for loop 
def pattern35for(n=5):
    s = n-1
    k = 1
    for i in range(1, n+1):
        print(' '*s + ((str(i))*k))
        s -= 1
        k += 2

In [78]:
pattern35for()

    1
   222
  33333
 4444444
555555555

In [79]:
pattern35for(9)

        1
       222
      33333
     4444444
    555555555
   66666666666
  7777777777777
 888888888888888
99999999999999999

In [82]:
# pattern 35 using while loop

def pattern35while(n = 5):
    i = 1
    k = 1
    s = n-1
    while i <= n:
        print(' '*s + (str(i)*k))
        i += 1
        k += 2
        s -= 1

In [83]:
pattern35while()

    1
   222
  33333
 4444444
555555555

In [84]:
pattern35while(9)

        1
       222
      33333
     4444444
    555555555
   66666666666
  7777777777777
 888888888888888
99999999999999999

## pattern 36

In [ ]:
#     1
#    333
#   55555
#  7777777
# 999999999

In [95]:
# pattern 36 using for loop  

def pattern36for(n=5):
    s = n-1
    k = 1
    t = 1
    for i in range(1, n+1):
        print(' '*s + ((str(t))*k))
        s -= 1
        k += 2
        t += 2

In [96]:
def pattern361for(n=5):
    s = n-1
    k = 1
    t = 1
    for i in range(1, n+6, 2):
        print(' '*s + ((str(i))*k))
        s -= 1
        k += 2
        t += 2
        
pattern361for()

    1
   333
  55555
 7777777
999999999

In [97]:
pattern36for()

    1
   333
  55555
 7777777
999999999

In [87]:
# pattern 36 using while loop

def pattern36while(n = 5):
    i = 1
    k = 1
    s = n-1
    t = 1
    while i <= n:
        print(' '*s + (str(t)*k))
        i += 1
        k += 2
        s -= 1
        t += 2

In [88]:
pattern36while()

    1
   333
  55555
 7777777
999999999

## pattern 37

In [ ]:
#     A
#    BBB
#   CCCCC
#  DDDDDDD
# EEEEEEEEE

In [99]:
# pattern 37 using for loop 
def pattern37for(start='A', end='E'):
    s = ord(end)-ord(start)
    k = 1
    for i in range(ord(start), (ord(end))+1):
        print(' '*s + ((chr(i))*k))
        s -= 1
        k += 2

In [100]:
pattern37for()

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE

In [104]:
pattern37for(start='H', end='O')

       H
      III
     JJJJJ
    KKKKKKK
   LLLLLLLLL
  MMMMMMMMMMM
 NNNNNNNNNNNNN
OOOOOOOOOOOOOOO

In [105]:
# pattern 37 using while loop

def pattern37while(start='A', end='E'):
    i = ord(start)
    k = 1
    s = ord(end)-ord(start)
    while i <= ord(end):
        print(' '*s + (chr(i)*k))
        i += 1
        k += 2
        s -= 1

In [106]:
pattern37while()

    A
   BBB
  CCCCC
 DDDDDDD
EEEEEEEEE

## pattern 38

In [ ]:
#     A
#    ccc
#   EEEEE
#  GGGGGGG
# IIIIIIIII

In [115]:
# pattern 38 using for loop
def pattern38for(start='A', end='I'):
    s = ord(end)-ord(start)
    k = 1
    for i in range(ord(start), ord(end)+1, 2):
        print(' '*s + ((chr(i))*k))
        s -= 1
        k += 2

In [116]:
pattern38for()

        A
       CCC
      EEEEE
     GGGGGGG
    IIIIIIIII

In [117]:
pattern38for(start='H', end='X')

                H
               JJJ
              LLLLL
             NNNNNNN
            PPPPPPPPP
           RRRRRRRRRRR
          TTTTTTTTTTTTT
         VVVVVVVVVVVVVVV
        XXXXXXXXXXXXXXXXX

In [118]:
# pattern 38 using while loop

def pattern38while(start='A', end='I'):
    i = ord(start)
    k = 1
    s = ord(end)-ord(start)
    while i <= ord(end):
        print(' '*s + (chr(i)*k))
        i += 2
        k += 2
        s -= 1

In [119]:
pattern38while()

        A
       CCC
      EEEEE
     GGGGGGG
    IIIIIIIII

In [121]:
pattern38while(start='F', end='P')

          F
         HHH
        JJJJJ
       LLLLLLL
      NNNNNNNNN
     PPPPPPPPPPP

## pattern 39

In [ ]:
#     1
#    123
#   12345
#  1234567
# 123456789

In [128]:
# pattern 39 using for loop
def pattern39for(n=5):
    s = n-1
    r = 1
    for i in range(1, n+1):
        print(' '*s, end='')
        for j in range(1, r+1):
            print(j, end='')
        s -= 1
        r += 2
        print()

In [129]:
pattern39for()

    1
   123
  12345
 1234567
123456789

In [130]:
# pattern 39 using while loop

def pattern39while(n=5):
    s = n-1
    r = 1
    i = 1
    while i <= n:
        print(' '*s, end='')
        j = 1
        while j <= r:
            print(j, end='')
            j += 1
        s -= 1
        r += 2
        i += 1
        print()

In [131]:
pattern39while()

    1
   123
  12345
 1234567
123456789

## pattern 40

In [ ]:
#     1
#    321
#   54321
#  7654321
# 987654321

In [136]:
# pattern 40 using for loop 

def pattern40for(n=5):
    s = n-1
    r = 1
    for i in range(1, n+1):
        print(' '*s, end='')
        for j in range(r, 0, -1):
            print(j, end='')
        s -= 1
        r += 2
        print()

In [137]:
pattern40for()

    1
   321
  54321
 7654321
987654321

In [15]:
# pattern 40 using while loop
def pattern40while(n=5):
    i = 1  
    while i <= n:
        print(' '*(n-i), end='')
        j = 2*i-1
        while j >= 1:
            print(j, end='')
            j -= 1
        i += 1
        print()

pattern40while()

    1
   321
  54321
 7654321
987654321

In [14]:
# pattern 40 using while loop
def pattern40while(n=5):
    i = 1
    while i <= n:
        print(' ' * (n - i), end='')
        j = 2 * i - 1
        while j >= 1:
            print(j, end='')
            j -= 1
        print()
        i += 1

In [12]:
pattern40while()

    1
   321
  54321
 7654321
987654321

## pattern 41

In [ ]:
#     A
#    ABC
#   ABCDE
#  ABCDEFG
# ABCDEFGHI

In [32]:
# pattern 41 using for loop
def pattern41for(start='A', end='E'):
    s = (ord(end)-ord(start))
    t = ord(start)
    for i in range(ord(start), ord(end)+1):
        print(' '*s, end='')
        for j in range(ord(start), (t)+1):
            print(chr(j), end='')
        s -= 1
        t += 2
        print()

In [33]:
pattern41for()

    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI

In [35]:
pattern41for(start='H', end='O')

       H
      HIJ
     HIJKL
    HIJKLMN
   HIJKLMNOP
  HIJKLMNOPQR
 HIJKLMNOPQRST
HIJKLMNOPQRSTUV

In [11]:
# pattern 41 using while

def pattern41while(start='A', end='E'):
    s = ord(end)-ord(start)
    i = ord(start)
    r = ord(start)
    while i <= ord(end):
        print(' '*s, end='')
        j = ord(start)
        while j <= r:
            print(chr(j), end='')
            j += 1
        r += 2
        i += 1
        s -= 1
        print()

In [12]:
pattern41while()

    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI

## pattern 42

In [13]:
#     A
#    CBA
#   EDCBA
#  GFEDCBA
# IHGFEDCBA

In [15]:
# pattern 42 using for loop
def pattern42for(start='A', end='E'):
    s = ord(end)-ord(start)
    r = ord(start)
    for i in range(ord(start), ord(end)+1):
        print(' '*s, end='')
        for j in range(r, ord(start)-1, -1):
            print(chr(j), end='')
        s -= 1
        r += 2
        print()

In [16]:
pattern42for()

    A
   CBA
  EDCBA
 GFEDCBA
IHGFEDCBA

In [30]:
pattern42for(start='H', end='M')

     H
    JIH
   LKJIH
  NMLKJIH
 PONMLKJIH
RQPONMLKJIH

In [42]:
# pattern 42 using while loop
def pattern42while(start='A', end='E'):
    s = ord(end)-ord(start)
    i = ord(start)
    while i <= ord(end):
        print(' '*s, end='')
        j = (2 * i)-ord(start)
        while j >= ord(start):
            print(chr(j), end='')
            j -= 1
        s -= 1
        i += 1
        print()

In [43]:
pattern42while()

    A
   CBA
  EDCBA
 GFEDCBA
IHGFEDCBA

In [46]:
pattern42while(start='H', end='O')

       H
      JIH
     LKJIH
    NMLKJIH
   PONMLKJIH
  RQPONMLKJIH
 TSRQPONMLKJIH
VUTSRQPONMLKJIH

## pattern 43

In [ ]:
#     0
#    101
#   21012
#  3210123
# 432101234

In [55]:
# patten 43 using for loop
def pattern43for(n=5):
    for i in range(n):
        for j in range(n - i - 1):
            print(" ", end="")
        for k in range(i, 0, -1):
            print(k, end="")
        for l in range(i + 1):
            print(l, end="")
        print()

In [56]:
pattern43for()

    0
   101
  21012
 3210123
432101234

In [63]:
pattern43for(10)

         0
        101
       21012
      3210123
     432101234
    54321012345
   6543210123456
  765432101234567
 87654321012345678
9876543210123456789

In [64]:
# pattern 43 using while loop 
def pattern43while(n=5):
    i = 0
    while i <= (n-1):
        j = 0
        while j <= (n-i-1):
            print(' ', end='')
            j += 1
        k = i
        while k >= 1:
            print(k, end='')
            k -= 1
        l = 0
        while l <= i:
            print(l, end='')
            l += 1
        i += 1
        print()

In [65]:
pattern43while()

     0
    101
   21012
  3210123
 432101234

In [66]:
pattern43while(10)

          0
         101
        21012
       3210123
      432101234
     54321012345
    6543210123456
   765432101234567
  87654321012345678
 9876543210123456789

## pattern 44

In [67]:
#      A
#     BAB
#    CBABC
#   DCBABCD
#  EDCBABCDE

In [70]:
# pattern 44 using for loop

def pattern44for(start='A', end='E'):
    for i in range(ord(start), ord(end)+1):
        for j in range(ord(end)-i):
            print(' ', end='')
        for k in range(i, ord(start), -1):
            print(chr(k), end='')
        for l in range(ord(start), i+1):
            print(chr(l), end='')
        print()

In [71]:
pattern44for()

    A
   BAB
  CBABC
 DCBABCD
EDCBABCDE

In [73]:
# pattern44for(start='H', end='O')

In [99]:
# pattern 44 using while loop
def pattern44while(start='A', end='E'):
    i = ord(start)
    while i <= ord(end):
        j = ord(end)-i
        while j >= 1:
            print(' ', end='')
            j -= 1
        k = i
        while k >= ord(start)+1:
            print(chr(k), end='')
            k -= 1
        l = ord(start)
        while l <= i:
            print(chr(l), end='')
            l += 1
        i += 1
        print()

In [100]:
pattern44while()

    A
   BAB
  CBABC
 DCBABCD
EDCBABCDE

In [101]:
pattern44while(start='H', end='O')

       H
      IHI
     JIHIJ
    KJIHIJK
   LKJIHIJKL
  MLKJIHIJKLM
 NMLKJIHIJKLMN
ONMLKJIHIJKLMNO

## pattern 45

In [ ]:
#     1
#    121
#   12321
#  1234321

In [126]:
# pattern 45 using for loop
def pattern45for(n=4):
    for i in range(1, n+1):
        for j in range(0, n-i):
            print(' ', end='')
        for k in range(1,i):
            print(k, end='')
        for l in range(i, 0, -1):
            print(l, end='')
        print()

In [129]:
pattern45for()

    1
   121
  12321
 1234321
123454321

In [130]:
pattern45for(9)

        1
       121
      12321
     1234321
    123454321
   12345654321
  1234567654321
 123456787654321
12345678987654321

In [143]:
# pattern 45 using while loop
def pattern45while(n=4):
    i = 1
    while i <= n:
        j = 0
        while j <= (n-i)+1:
            print(' ', end='')
            j += 1
        k = 1
        while k <= i-1:
            print(k, end='')
            k += 1
        l = i
        while l >= 1:
            print(l, end='')
            l -= 1
        i += 1
        print()

In [144]:
pattern45while()

     1
    121
   12321
  1234321

In [145]:
pattern45for(9)

        1
       121
      12321
     1234321
    123454321
   12345654321
  1234567654321
 123456787654321
12345678987654321

## pattern 46

In [146]:
#     A 
#    ABA
#   ABCBA
#  ABCDCBA
# ABCDEDCBA

In [163]:
# pattern 46 using for loop

def pattern46for(start='A', end='E'):
    for i in range(ord(start), ord(end)+1):
        n = ord(end)
        for j in range(0, n-i):
            print(' ', end='')
        for k in range(ord(start), i):
            print(chr(k), end='')
        for l in range(i, ord(start)-1, -1):
            print(chr(l), end='')
        print()

In [164]:
pattern46for()

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [165]:
pattern46for(start='H', end='O')

       H
      HIH
     HIJIH
    HIJKJIH
   HIJKLKJIH
  HIJKLMLKJIH
 HIJKLMNMLKJIH
HIJKLMNONMLKJIH

In [25]:
# pattern 46 using while loop
def pattern46while(start='A', end='E'):
    i = ord(start)
    while i <= ord(end):
        n = ord(end)
        j = 1
        while j <= n-i:
            print(' ', end='')
            j += 1
        k = ord(start)
        while k <= i-1:
            print(chr(k), end='')
            k += 1
        l = i
        while l >= ord(start):
            print(chr(l), end='')
            l -= 1
        i += 1
        print()

In [26]:
pattern46while()

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [30]:
pattern46while(start='I', end='R')

         I
        IJI
       IJKJI
      IJKLKJI
     IJKLMLKJI
    IJKLMNMLKJI
   IJKLMNONMLKJI
  IJKLMNOPONMLKJI
 IJKLMNOPQPONMLKJI
IJKLMNOPQRQPONMLKJI

## pattern 47

In [31]:
# *******
#  *****
#   ***
#    *

In [21]:
# pattern 47 using for loop
def pattern47for(char='*', n=4):
    k = 1
    for i in range(n+3, 0, -2):
        print(' ' * k + char*i)
        k += 1

In [22]:
pattern47for()

 *******
  *****
   ***
    *

In [26]:
pattern47for(char='!', n = 8)

 !!!!!!!!!!!
  !!!!!!!!!
   !!!!!!!
    !!!!!
     !!!
      !

In [38]:
# pattern 47 using while
def pattern47while(char='*', n = 4):
    k = 0
    i = n+3
    while i >= 1:
        print(' '*k + char*i)
        i -= 2
        k += 1

In [39]:
pattern47while()

*******
 *****
  ***
   *

In [40]:
pattern47while(char='$', n=8)

$$$$$$$$$$$
 $$$$$$$$$
  $$$$$$$
   $$$$$
    $$$
     $

## pattern 48

In [41]:
# 4444444
#  33333
#   222
#    1

In [48]:
# pattern 48 using for loop
def pattern48for(n=4):
    k = 0
    j = n+3
    for i in range(n, 0, -1):
        print(' '*k + str(i)*j, end='')
        j -= 2
        k += 1
        print()

In [49]:
pattern48for()

4444444
 33333
  222
   1

In [51]:
# pattern 48 using while loop
def pattern48while(n=4):
    k = 0
    j = n+3
    i = n
    while i >= 1:
        print(' '*k + str(i)*j)
        j -= 2
        k += 1
        i -= 1

In [52]:
pattern48while()

4444444
 33333
  222
   1

## pattern 49

In [ ]:
# 7777777
#  55555
#   333
#    1

In [53]:
def pattern49for(n=4):
    k = 0
    j = n+3
    for i in range(n+3, 0, -2):
        print(' '*k + str(i)*j, end='')
        j -= 2
        k += 1
        print()

In [54]:
pattern49for()

7777777
 55555
  333
   1

In [57]:
# pattern 49 using while loop
def pattern49while(n=4):
    k = 0
    j = n+3
    i = n+3
    while i >= 1:
        print(' '*k + str(i)*j)
        j -= 2
        k += 1
        i -= 2

In [58]:
pattern49while()

7777777
 55555
  333
   1

## pattern 50

In [59]:
# 1234567
#  12345
#   123
#    1

In [91]:
# pattern 50 using for loop
def pattern50for(n=4):
    j = n+4
    for k in range(0, n):
        print(' '*k, end='')
        for i in range(1, j):
            print(i, end='')
        print()
        j -= 2

In [92]:
pattern50for()

1234567
 12345
  123
   1

In [95]:
# pattern 50 using while loop
def pattern50while(n=4):
    j = n + 3
    k = 0
    while k <= n-1:
        print(' '*k, end='')
        i = 1
        while i <= j:
            print(i, end='')
            i += 1
        j -= 2
        k += 1
        print()

In [96]:
pattern50while()

1234567
 12345
  123
   1

In [99]:
pattern50while(6)

123456789
 1234567
  12345
   123
    1