## Easy Exercise on python loops

### 01. Sum all numbers from 1 to n using a for loop.

In [5]:
n = int(input('Enter your Number: '))
sum = 0
for num in (range(1 , n+1)):
    sum = sum + num
    
print(sum)

Enter your Number: 100
5050

### 02. Print all even numbers from a list using a for loop.

In [6]:
num = [1,2,3,4,5,6,7,8,9,10]
for even in num:
    if even % 2 == 0:
        print(even)

2
4
6
8
10

### 03. Concatenate all strings from a list into one using a for loop.

In [9]:
words = ['Python', 'is', 'awesome']
result = ''
for word in words:
    result = result + ' ' + word
print(result)

 Python is awesome

### 04. Find the factorial of a given number using a while loop.

In [25]:
num = int(input('Enter number you want to find !: '))
fac = 1
while num > 0:
    fac = fac * num
    num -= 1
    
print(fac)

Enter number you want to find !: 5
120

### 05. Remove duplicates from a list using a for loop.

In [27]:
items_list = [1,2,4,1,5,4,4,5,9,8,7,6,3,1]
unique = []

for num in items_list:
    if num not in unique:
        unique.append(num)
        
print(unique)

[1, 2, 4, 5, 9, 8, 7, 6, 3]

### 06. Print the keys of a dictionary using a for loop

In [30]:
student_scores = {
    "Abhilash": 85,
    "Bharat": 92,
    "Chirudeep": 78,
    "David": 90,
    "Evanka": 88
}

for keys in student_scores:
    print(f'Name is:  {keys}')

Name is:  Abhilash
Name is:  Bharat
Name is:  Chirudeep
Name is:  David
Name is:  Evanka

### 07. Count the number of vowels in a given string using a for loop

In [32]:
string = input('Enter your string: ')
vowels = 'aeiouAEIOU'
count = 0
for char in string:
    if char in vowels:
        count += 1
        
print(count)

Enter your string: raviteja
4

### 08. Reverse a list using a while loop.

In [34]:
numbers = [1, 2, 3, 4, 5]
start, end = 0, len(numbers) - 1
while start < end:
    numbers[start], numbers[end] = numbers[end], numbers[start]
    start += 1
    end -= 1
print(numbers)

[5, 4, 3, 2, 1]

### 09. Recreatin len() function using loops

In [1]:
string = input('Enter your string: ')
c = 0
for char in string:
    c += 1
    
print(c)

Enter your string: raviteja
8

### 10. Create a list of squares of numbers from 1 to n using a for loop.

In [1]:
num = int(input('Enter your Number: '))
sq = []

for char in range(1, num + 1):
    sq.append(char ** 2)
    num += 1
    
print(sq)

Enter your Number: 5
[1, 4, 9, 16, 25]

In [2]:
num = int(input('Enter number: '))
sq = [i ** 2 for i in range(1, num + 1)]
print(sq)

Enter number: 5
[1, 4, 9, 16, 25]

### 11. Check if a given number is prime using a for loop.

In [4]:
num = int(input('Enter Number: '))
is_prime = True

for i in range(2, (num//2)+1):
    if num % i == 0:
        is_prime = False
        break
if is_prime:
    print(f'{num} is prime Number')
else:
    print(f'{num} is not Prime number')

Enter Number: 6
6 is not Prime number

### 12. Merge two dictionaries into one using a for loop.

In [7]:
dict1 = {"a": 1, "b": 2, "c": 3, "d": 4}
dict2 = {"e": 5, "f": 6, "g": 7, "h": 8}

merged_dict = {}

for key in dict1:
    merged_dict[key] = dict1[key]
    
for key in dict2:
    merged_dict[key] = dict2[key]
    
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

### 13. Calculate the average of numbers in a list using a for loop.

In [16]:
lst = input('Enter numbers separeted by space: ').split()
sum = 0
for num in lst:
    sum = sum + int(num)
    
avg = sum / len(lst)

print(avg)

Enter numbers separeted by space: 1 5 4 5 7 5 9 6
5.25

### 14. Convert a string to uppercase using a for loop.

In [25]:
string = input('Enter string: ')
upper = ""
for char in string:
    upper += char.upper()
    
print(upper)

Enter string: raviteja
RAVITEJA

### 15. Find the length of the longest word in a sentence using a for loop.

In [34]:
sen = input('Enter your sentense: ').split()
max_len = 0
for word in sen:
    if len(word) > max_len:
        max_len = len(word)
        
print(f'length of longest word in a sentense is: {max_len}')

Enter your sentense: Maddela ravi teja
length of longest word in a sentense is: 7

### 16. Remove all occurrences of a specific element from a list using a while loop.

In [41]:
numbers = [1, 2, 2, 3, 4, 2, 5, 2, 3, 5]

element_to_remove = 2

while element_to_remove in numbers:
    
    numbers.remove(element_to_remove)
    
    
print(numbers)

[1, 3, 4, 5, 3, 5]

### 17. Calculate the product of elements in a list using a for loop.

In [45]:
lst = input('Enter numbers separated by a space: ').split()

product = 1

for num in lst:
    product = product * (int(num))
    
print(product)

Enter numbers separated by a space: 1 5 3 4
60

### 18. Convert a list of tuples into a dictionary using a for loop.

In [46]:
tuples = (('a', 1), ('b', 2), ('c', 3))
dictionary = {}

for key, value in tuples:
    dictionary[key] = value
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

### 19. Check if a given string is a palindrome using a for loop.

In [51]:
string = "racecar"
is_palindrome = True

for i in range(len(string) // 2):
    if string[i] != string[-(i + 1)]:
        is_palindrome = False
        break
        
print(is_palindrome)

### 20.Find the common elements between two lists using a for loop.

In [54]:
lst1 = [1, 2, 3, 4, 5, 6, 7]
lst2 = [5, 7, 4]
common = []
for i in lst1:
    if i in lst2:
        common.append(i)
print(common)

[4, 5, 7]

### 21. Count the number of occurrences of each element in a list using a dictionary and a for loop.

In [71]:
lst = [1,1,2,1,2,3,6,8,9,4,1,5,3,2,3]

dic = {}

for num in lst:
    dic[num] = dic.get(num, 0) + 1
    
print(dic)

{1: 4, 2: 3, 3: 3, 6: 1, 8: 1, 9: 1, 4: 1, 5: 1}

### 22. Merge two lists into a single list with unique elements using a for loop.

In [78]:
lst1 = [1,2,3,4]
lst2 = [3,4,5,6]

merged = lst1[:]
for num in lst2:
    if num not in merged:
        merged.append(num)
print(merged)

[1, 2, 3, 4, 5, 6]

### 23. Create a new list with elements from the original list that are greater than a given value using a for loop.

In [86]:
lst = [1,5,10,15,18,20,19,22]
threshold = 10
new = []
for num in lst:
    if num > threshold:
        new.append(num)
print(new)

[15, 18, 20, 19, 22]

### 24. Find the index of a specific element in a list using a for loop.

In [87]:
numbers = [1, 2, 3, 4, 5]

element_to_find = 3

index = -1

for i in range(len(numbers)):
    if numbers[i] == element_to_find:
        index = i
        break
        
print(index)

2

### 25. Count the number of words in a sentence using a for loop.

In [1]:
sen = input('Enter sentense: ').split()
count = 0
for word in sen:
    count += 1
print(count)

Enter sentense: Ravi teja
2

### 26. Check if a given word starts with a vowel using a for loop.

In [4]:
lst = ['apple', 'banana', 'cherry', 'dates', 'fig', 'orange']
vowels = 'AEIOUaeiou'
for i in lst:
    if i[0] in vowels:
        print(f'Given word {i} starts with vowel')
        
    else:
        print(f'given word {i} starts with consonent')

Given word apple starts with vowel
given word banana starts with consonent
given word cherry starts with consonent
given word dates starts with consonent
given word fig starts with consonent
Given word orange starts with vowel

### 27. Convert a list of strings into a single string separated by commas using a for loop.

In [7]:
lst = ['apple', 'banana', 'cherry', 'dates', 'fig', 'orange']
result = ''
for i in lst:
    result = result + " " + i
print(result)

 apple banana cherry dates fig orange

### 28. Print the keys and values of a dictionary using a for loop.

In [11]:
student_age = {
    "Abhilash": 30,
    "Bharat": 23,
    "Chirudeep": 22,
    "David": 40,
    "Evanka": 43
}

# Iterating over key-value pairs using a for loop and .items()

for name, age in student_age.items():
    print(f"{name}'s age is {age}")

Abhilash's age is 30
Bharat's age is 23
Chirudeep's age is 22
David's age is 40
Evanka's age is 43

### 29. Remove all occurrences of a specific key from a dictionary using a while loop.

In [15]:
student_age = {"Abhilash": 30, "Bharat": 23, "Chirudeep": 22, "David": 40, "Evanka": 43}

specific_occurance = 'David'

while specific_occurance in student_age:
    student_age.pop('David')
    
print(student_age)

{'Abhilash': 30, 'Bharat': 23, 'Chirudeep': 22, 'Evanka': 43}

### 30. Print the last three elements of a list using a for loop.

In [18]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

for i in range(len(numbers) - 3, len(numbers)):
    
    print(numbers[i])

11
12
13

### 31. Create a new list with elements from the original list that contain a specific character using a for loop.

In [22]:
words = ["apple", "banana", "orange", "grape", "fig"]

find_char = "n"

contains_char = []

for word in words:
    if find_char in word:
        
        contains_char.append(word)
        
print(contains_char)

['banana', 'orange']

### 32. Check if all elements in a list are positive using a for loop.

In [26]:
numbers = [1, 2, -3, -4, 5]

all_positive = True

for num in numbers:
    if num <= 0:
        all_positive = False
        break
print(all_positive)

False

### 33. Print the elements of a list in reverse order using a for loop.

In [35]:
lst = [1,2,3,4,5,6]
for i in range(len(lst)-1, -1, -1):
    print(lst[i])

6
5
4
3
2
1

### 34. Count the number of uppercase letters in a given string using a for loop.

In [39]:
c = 0
string = input('Enter your string: ')
for a in string:
    if a.isupper():
        c += 1
print(c)

Enter your string: Ravi Teja
2

### 35. Find the first non-repeated element in a list using a dictionary and a for loop.

In [42]:
lst = [1,1,1,2,3,5,6,4,2,3,1,5,3,4]
occ = {}
for num in lst:
    occ[num] = occ.get(num, 0)+1
print(occ)

{1: 4, 2: 2, 3: 3, 5: 2, 6: 1, 4: 2}

### 36. Create a new list with squared elements from the original list using a list comprehension.

In [43]:
lst = [1,2,3,4,5,6,7,8,9,10]

sq = [num ** 2 for num in lst]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 37. Find the median of a list using a for loop

In [54]:
lst = [1,5,4,7,9,6,3,5,9]
sum = 0 
for num in lst:
    sum = sum + num
    
print(round(sum / len(lst), 2))

5.44

### 38. Count the number of digits in a given integer using a while loop.

In [60]:
number = 12345
num_digits = 0

while number != 0:
    number //= 10
    num_digits += 1

print(num_digits)

5

### 39.Calculate the factorial of a given number using a while loop.

In [76]:
num = int(input('Enter Number: '))
factorial = 1

while num > 0:
    factorial = factorial * num
    num -= 1
    
print(factorial)

Enter Number: 5
120

### 40. Print the first n terms of the multiplication table of a given number using a while loop.

In [6]:
start = int(input('Enter your starting Number: '))
end = int(input('Enter your Ending Number: '))
for i in range(start, end+1):
    for j in range(1, 11):
        print(f'{i} * {j} = {i*j}')
    print()

Enter your starting Number: 12
Enter your Ending Number: 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [15]:
num = int(input('Enter Number: '))
c = 1
while c <= 10:
    print(f'{num} x {c} = {num * c}')
    c += 1

Enter Number: 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

### 41. Check if a given number is a perfect square using a while loop.

In [24]:
number = int(input('Enter your number: '))
sqrt = 0

while sqrt * sqrt < number:
    sqrt += 1

is_perfect_square = sqrt * sqrt == number
print(f'given number {number} is perfect square: {is_perfect_square}')

Enter your number: 4
given number 4 is perfect square: True

### 42. Write a Python program to print the following pattern:

In [25]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4

n = 4
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

### 43. Question: Write a loop that finds and prints all palindromes (numbers that read the same backward as forward) between 1 and 100.
        * Hint: Convert the number to a string and check if it is equal to its reverse.

In [41]:
for i in range(1, 101):
    if str(i) == str(i)[::-1]:
        print(i)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99

### 44. Question: Write a loop that finds and prints all `anagrams` of a given word from a list of words.
    * Hint: Use the sorted function to check if two words are anagrams.

In [42]:
word = "listen"

word_list = ["enlist", "silent", "hello", "tinsel"]

anagrams = [w for w in word_list if sorted(w) == sorted(word)]
print(anagrams)

['enlist', 'silent', 'tinsel']

### 45. Question: Write a loop that calculates the sum of the cubes of all numbers from 1 to n, where n is a given positive integer, using list comprehension.
        * Hint: Use a list comprehension to calculate the cubes and then sum the elements.

In [48]:
n = int(input('Enter number: '))
sum_cubes = sum([i ** 3 for i in range(1, n+1)])
print(sum_cubes)

Enter number: 5
225

### 46. Question: Write a loop that prints the first 10 terms of the sequence: 2, 4, 8, 16, 32, 64, ...
    * Hint: Use a variable to keep track of the current term and update it at each step.

In [53]:
current_term = 2
for i in range(10):
    print(current_term)
    current_term *= 2

2
4
8
16
32
64
128
256
512
1024

### 47. Question: Write a loop that finds the minimum value in a given list without using the min function.
    * Hint: Initialize a variable to keep track of the minimum value.

In [55]:
my_list = [10, 3, 8, 15, 6, 12,2]

min_val = my_list[0]

for num in my_list:
    if num < min_val:
        min_val = num
        
print(min_val)

2

### 48. Print the ASCII value of all lowercase letters using a for loop:

In [58]:
for letter in 'abcdefghijklmnopqrstuvwxyz':
    
    print(f"The ASCII value of '{letter}' is {ord(letter)}")
    
# print(chr(97))

The ASCII value of 'a' is 97
The ASCII value of 'b' is 98
The ASCII value of 'c' is 99
The ASCII value of 'd' is 100
The ASCII value of 'e' is 101
The ASCII value of 'f' is 102
The ASCII value of 'g' is 103
The ASCII value of 'h' is 104
The ASCII value of 'i' is 105
The ASCII value of 'j' is 106
The ASCII value of 'k' is 107
The ASCII value of 'l' is 108
The ASCII value of 'm' is 109
The ASCII value of 'n' is 110
The ASCII value of 'o' is 111
The ASCII value of 'p' is 112
The ASCII value of 'q' is 113
The ASCII value of 'r' is 114
The ASCII value of 's' is 115
The ASCII value of 't' is 116
The ASCII value of 'u' is 117
The ASCII value of 'v' is 118
The ASCII value of 'w' is 119
The ASCII value of 'x' is 120
The ASCII value of 'y' is 121
The ASCII value of 'z' is 122

### 49. Question: Write a loop that prints the numbers from 1 to 100, but for multiples of 5, print "Fizz," for multiples of 9, print "Buzz," and for multiples of both 5 and 9, print "FizzBuzz."
    * Hint: Use the modulo operator % for multiples of 5 and 9.

In [59]:
for i in range(1, 101):
    if i % 5 == 0 and i % 9 == 0:
        print("FizzBuzz")
    elif i % 5 == 0:
        print("Fizz")
    elif i % 9 == 0:
        print("Buzz")
    else:
        print(i)

1
2
3
4
Fizz
6
7
8
Buzz
Fizz
11
12
13
14
Fizz
16
17
Buzz
19
Fizz
21
22
23
24
Fizz
26
Buzz
28
29
Fizz
31
32
33
34
Fizz
Buzz
37
38
39
Fizz
41
42
43
44
FizzBuzz
46
47
48
49
Fizz
51
52
53
Buzz
Fizz
56
57
58
59
Fizz
61
62
Buzz
64
Fizz
66
67
68
69
Fizz
71
Buzz
73
74
Fizz
76
77
78
79
Fizz
Buzz
82
83
84
Fizz
86
87
88
89
FizzBuzz
91
92
93
94
Fizz
96
97
98
Buzz
Fizz

### 50. Question: Write a loop that finds the number of occurrences of each character in a given string, using a dictionary to store the counts.

In [60]:
my_string = "hello world"

char_count = {}

for char in my_string:
    char_count[char] = char_count.get(char, 0) + 1
    
print(char_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}